.margin-left-xxxs {
  margin-left: 4px;
 }

.margin-left-xxs {
  margin-left: 8px;
}

.margin-left-xs {
  margin-left: 12px;
} 

.margin-left-s {
  margin-left: 16px;
}

.margin-left-m {
  margin-left: 20px;
}

.margin-left-l {
  margin-left: 24px;
}

.margin-left-xl {
  margin-left: 32px;
}

.margin-left-xxl {
  margin-left: 40px;
}

.margin-left-xxxl {
  margin-left: 48px;
}

.margin-left-xxxxl {
  margin-left: 64px;
}

.margin-top-xxxs {
  margin-top: 4px;
 }

.margin-top-xxs {
  margin-top: 8px;
}

.margin-top-xs {
  margin-top: 12px;
} 

.margin-top-s {
  margin-top: 16px;
}

.margin-top-m {
  margin-top: 20px;
}

.margin-top-l {
  margin-top: 24px;
}

.margin-top-xl {
  margin-top: 32px;
}

.margin-top-xxl {
  margin-top: 40px;
}

.margin-top-xxxl {
  margin-top: 48px;
}

.margin-top-xxxxl {
  margin-top: 64px;
}

.margin-right-xxxs {
  margin-right: 4px;
 }

.margin-right-xxs {
  margin-right: 8px;
}

.margin-right-xs {
  margin-right: 12px;
} 

.margin-right-s {
  margin-right: 16px;
}

.margin-right-m {
  margin-right: 20px;
}

.margin-right-l {
  margin-right: 24px;
}

.margin-right-xl {
  margin-right: 32px;
}

.margin-right-xxl {
  margin-right: 40px;
}

.margin-right-xxxl {
  margin-right: 48px;
}

.margin-right-xxxxl {
  margin-right: 64px;
}

.margin-bottom-xxxs {
  margin-bottom: 4px;
 }

.margin-bottom-xxs {
  margin-bottom: 8px;
}

.margin-bottom-xs {
  margin-bottom: 12px;
} 

.margin-bottom-s {
  margin-bottom: 16px;
}

.margin-bottom-m {
  margin-bottom: 20px;
}

.margin-bottom-l {
  margin-bottom: 24px;
}

.margin-bottom-xl {
  margin-bottom: 32px;
}

.margin-bottom-xxl {
  margin-bottom: 40px;
}

.margin-bottom-xxxl {
  margin-bottom: 48px;
}

.margin-bottom-xxxxl {
  margin-bottom: 64px;
}

.margin-none {
  margin: 0;
}