.padding-s {
  padding: 16px;
}

.padding-xl {
  padding: 32px;
}

.padding-left-xxxs {
  padding-left: 4px;
 }

.padding-left-xxs {
  padding-left: 8px;
}

.padding-left-xs {
  padding-left: 12px;
} 

.padding-left-s {
  padding-left: 16px;
}

.padding-left-m {
  padding-left: 20px;
}

.padding-left-l {
  padding-left: 24px;
}

.padding-left-xl {
  padding-left: 32px;
}

.padding-left-xxl {
  padding-left: 40px;
}

.padding-left-xxxl {
  padding-left: 48px;
}

.padding-left-xxxxl {
  padding-left: 64px;
}

.padding-top-xxxs {
  padding-top: 4px;
 }

.padding-top-xxs {
  padding-top: 8px;
}

.padding-top-xs {
  padding-top: 12px;
} 

.padding-top-s {
  padding-top: 16px;
}

.padding-top-m {
  padding-top: 20px;
}

.padding-top-l {
  padding-top: 24px;
}

.padding-top-xl {
  padding-top: 32px;
}

.padding-top-xxl {
  padding-top: 40px;
}

.padding-top-xxxl {
  padding-top: 48px;
}

.padding-top-xxxxl {
  padding-top: 64px;
}

.padding-right-xxxs {
  padding-right: 4px;
 }

.padding-right-xxs {
  padding-right: 8px;
}

.padding-right-xs {
  padding-right: 12px;
} 

.padding-right-s {
  padding-right: 16px;
}

.padding-right-m {
  padding-right: 20px;
}

.padding-right-l {
  padding-right: 24px;
}

.padding-right-xl {
  padding-right: 32px;
}

.padding-right-xxl {
  padding-right: 40px;
}

.padding-right-xxxl {
  padding-right: 48px;
}

.padding-right-xxxxl {
  padding-right: 64px;
}

.padding-bottom-xxxs {
  padding-bottom: 4px;
 }

.padding-bottom-xxs {
  padding-bottom: 8px;
}

.padding-bottom-xs {
  padding-bottom: 12px;
} 

.padding-bottom-s {
  padding-bottom: 16px;
}

.padding-bottom-m {
  padding-bottom: 20px;
}

.padding-bottom-l {
  padding-bottom: 24px;
}

.padding-bottom-xl {
  padding-bottom: 32px;
}

.padding-bottom-xxl {
  padding-bottom: 40px;
}

.padding-bottom-xxxl {
  padding-bottom: 48px;
}

.padding-bottom-xxxxl {
  padding-bottom: 64px;
}